option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_setup_db:
    # This combined command is safer and won't crash if the file exists or not
    command: "touch db.sqlite3 && chmod 666 db.sqlite3 && chmod 777 ."